<div class="box">
  <div class="box_title">[% box.title %]</div>
  <div class="box_content">
    <ul>
      [% FOREACH item IN box.items %]
        [% IF item.selected %]
          <li class="current_box_item"><a href="[% item.link %]">[% item.label %]</a></li>  
        [% ELSE %]
          <li><a href="[% item.link %]">[% item.label %]</a></li>  
        [% END %]
      [% END %]
    </ul>
  </div>                  
</div>
