
include checks.cfg

# =======================================================================
# Multi checks to check

<MultiCheck memory>
   Check memory_non_heap
   Check memory_heap
</MultiCheck>

<MultiCheck nested>
   Check thread_count(400,,"'Thread-Count'")
   # Multi-Check referenced via 'Check'
   Check memory
</MultiCheck>

<MultiCheck with_inner_args>
   Check thread_count(400)
   Check memory_heap_with_label("HelloLabel","WithInnerArgs")
</MultiCheck>

<MultiCheck with_outer_args>
   Check thread_count(400)
   Check memory_heap_with_label("HelloLabel",$0)
</MultiCheck>

<MultiCheck failing_multi_check>
   HtmlOutput
   Check memory_non_heap(1,2)
   Check memory_non_heap(30,20)
   Check memory_heap
</MultiCheck>

<MultiCheck nested_with_args>
   MultiCheck with_outer_args("NestedWithArgs")
</MultiCheck>

<MultiCheck nested_with_outer_args>
   # MulitCheck referenced via Check
   Check with_outer_args($0)
</MultiCheck>

<MultiCheck overloaded_multi_check>
   Check overloaded_operation("blub")
</MultiCheck>

# Multicheck where the checks have different arguments 
# but are otherwise the same checks.
<MultiCheck label_test>
   Check with_name("bla",1)
   Check with_name("blub",2)
</MultiCheck>
