<?xml version="1.0" encoding="UTF-8"?>

<!--
  Sample definitions for restricting the access to the j4p-agent. Adapt this
  file and copy it over to 'j4p-access.xml', which get's evaluated during
  runtime (if included in the war).

  You can restrict the available methods in principale as well as the accessible
  attributes and operations in detail.
-->

<j4p-restrict>

  <!-- List of remote hosts which are allowed to access this agent. The name can be
       given as IP or FQDN. If any of the given hosts matches, access will be allowed
      (respecting further restrictions, though). If <remote> ... </remote> is given
      without any host no access is allowed at all (probably not what you want).

      You can also specify a subnetmask behind a numeric IP adress in which case any
      host within the specified subnet is allowed to access the agent. The netmask can
      be given either in CIDR format (e.g "/16") or as a full netmask (e.g. "/255.255.0.0")
  -->
  <remote>
    <host>127.0.0.1</host>
    <host>localhost</host>
    <!-- Example with subnet
    <host>10.0.0.0/16</host>
    -->
  </remote>

  <!-- List of allowed commands. Remove the commands you dont want to
       be called. If the section <commands> is missing completely, all
       commands are allowed -->
  <commands>
    <command>read</command>
    <command>write</command>
    <command>exec</command>
    <command>list</command>
    <command>version</command>
    <command>search</command>
  </commands>

  <!-- Access to the following MBeans with their attributes/operations is allowed. If the
       <mbeans> sections is present, access to any MBean not mentioned there will be
       rejected. If the <mbeans> section is missing, access to all MBeans is allowed. MBean
       names can be patterns, too -->
  <mbeans>
    <mbean>
      <name>java.lang:type=Memory</name>
      <attribute>HeapMemoryUsage</attribute>
      <attribute mode="read">Verbose</attribute>
      <operation>gc</operation>
    </mbean>
    <mbean>
      <name>java.lang:type=Threading</name>
      <attribute>ThreadCount</attribute>
    </mbean>
  </mbeans>
</j4p-restrict>



<!--
  ~ jmx4perl - WAR Agent for exporting JMX via JSON
  ~
  ~ Copyright (C) 2009 Roland Huß, roland@cpan.org
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  ~ A commercial license is available as well. Please contact roland@cpan.org for
  ~ further details.
  -->

